<div class="max-w-md  min-w-40 mx-auto bg-white border border-gray-200 shadow-md overflow-hidden cursor-pointer hover:transform hover:scale-105 duration-300">
    <div class="md:flex">
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Facebook</div>
            <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Answer customer enquiries </a>
            <p class="mt-2 text-gray-500">16:00 16-09-2024</p>
        </div>
    </div>
</div>
