

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Organizer</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Organizer.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="flex flex-col">
        <!-- Make it a flex column to stack elements vertically -->
        <div class=" top-0 w-full mb-12 z-10 h-9/10">
            <!-- Add z-index to make sure it's above other content -->
            <!-- Render the top bar partial -->
            @Html.Partial("../Home/_sectionHeading")
        </div>
        <div class="flex flex-row">
            <!-- Nested flex container for sidebar and main content -->
            <div class="w-1/6">
                <!-- Render the sidebar partial -->
                @Html.Partial("../Home/_sidebarComponent")
            </div>
            <div class="mr-16 w-5/6 h-1/10">
                <!-- Render the main content -->
                @RenderBody()
            </div>
        </div>
    </div>

<footer class="border-top footer text-muted text-lg ">
    <div class="container text-white">
        &copy; 2022 - Organizer - <a asp-area="" asp-controller="Home" asp-action="Home">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
