<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Organizer</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Organizer.styles.css" asp-append-version="true" />
</head>
<body>

<header>
   
</header>
    <h2 class="text-lg"> Stefano</h2>
@RenderBody()
    <div class="max-w-xs mx-auto bg-gray-100 border-4 rounded-lg border-red-600 shadow-md p-4 mt-4 h-60 relative">
        <div class="mb-4">
            <p class="text-lg font-semibold mb-2 border-b-2 border-gray-400">Your Note Title</p>
            <p class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut magna at nisi placerat bibendum.</p>
        </div>
        <div class="absolute top-0 right-0 flex pt-2 pr-2">
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800 mr-1"></div>
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800 mr-1"></div>
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800"></div>
        </div>
        <div class="absolute bottom-0 left-0 right-0 bg-red-600 p-2">
            <p class="text-sm text-center text-gray-100">Due: March 10, 2024</p>
        </div>
    </div>
    <div class="max-w-xs mx-auto bg-gray-100 border-4 rounded-lg border-orange-500 shadow-md p-4 mt-4 h-60 relative">
        <div class="mb-4">
            <p class="text-lg font-semibold mb-2 border-b-2 border-gray-400">Your Note Title</p>
            <p class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut magna at nisi placerat bibendum.</p>
        </div>
        <div class="absolute top-0 right-0 flex pt-2 pr-2">
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800 mr-1"></div>
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800 mr-1"></div>
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800"></div>
        </div>
        <div class="absolute bottom-0 left-0 right-0 bg-orange-500 p-2">
            <p class="text-sm text-center text-gray-100">Due: March 10, 2024</p>
        </div>
    </div>
    <div class="max-w-xs mx-auto bg-gray-100 border-4 rounded-lg border-green-600 shadow-md p-4 mt-4 h-60 relative">
        <div class="mb-4">
            <p class="text-lg font-semibold mb-2 border-b-2 border-gray-400">Your Note Title</p>
            <p class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut magna at nisi placerat bibendum.</p>
        </div>
        <div class="absolute top-0 right-0 flex pt-2 pr-2">
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800 mr-1"></div>
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800 mr-1"></div>
            <div class="w-1.5 h-1.5 rounded-full bg-gray-800"></div>
        </div>
        <div class="absolute bottom-0 left-0 right-0 bg-green-600 p-2">
            <p class="text-sm text-center text-gray-100">Due: March 10, 2024</p>
        </div>
    </div>




<footer class="border-top footer text-muted text-lg ">
    <div class="container">
        &copy; 2022 - Organizer - <a asp-area=""  asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
