

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Organizer</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Organizer.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>s
</head>
<body class="min-w-[1179]">

    <div class="">
        <!-- Make it a flex column to stack elements vertically -->
        <div class="top-0 mb-12 h-9/10 z-10 w-full">
            <!-- Add z-index to make sure it's above other content -->
            <!-- Render the top bar partial -->
            @Html.Partial("../Home/_sectionHeading")
        </div>
        <div class="">
            <!-- Nested flex container for sidebar and main content -->

                <!-- Render the sidebar partial -->
                @Html.Partial("../Home/_sidebarComponent")
            <div class="2xl:mr-100 xl:mr-60 lg:mr-30 mr:pl-10">
                <div  class="flex items-center justify-center">
                      <div class="h-auto w-auto lg:w-auto">
                          <!-- Render the main content -->
                          @RenderBody()
                      </div>          
                </div>                  
            </div>
              



        </div>
    </div>


<footer class="border-top footer text-muted text-lg">
    <div class="text-white container">
        &copy; 2022 - Organizer - <a asp-area="" asp-controller="Home" asp-action="Home">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
