<div class="max-w-xs mx-auto bg-gray-100 border-4 rounded-lg border-green-600 shadow-md p-4 mt-4 h-60 relative">
    <div class="mb-4">
        <p class="text-red-100">Your Note Title</p>
        <p class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut magna at nisi placerat bibendum.</p>
    </div>
    <div class="Opties group absolute top-0 right-0 flex pt-2 pr-2 p-1">
        <div class="w-1.5 h-1.5 rounded-full bg-gray-800 mr-1 group-hover:bg-gray-400"></div>
        <div class="w-1.5 h-1.5 rounded-full bg-gray-800 mr-1 group-hover:bg-gray-400"></div>
        <div class="w-1.5 h-1.5 rounded-full bg-gray-800 group-hover:bg-gray-400"></div>
    </div>
    <div class="absolute bottom-0 left-0 right-0 bg-green-600 p-2">
        <p class="text-sm text-center text-gray-100">Due: March 10, 2024</p>
    </div>
</div>