@model Organizer.Entities.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        
        <dt class="col-sm-2">
            
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<button onclick="deleteTask()">test</button>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const csrfToken = document.querySelector('input[name="__RequestVerificationToken"]').value;
        
        function deleteTask() {
            // Get the CSRF token from the form
            console.log(data);

            // Send a POST request with the task ID and CSRF token
            fetch(`/Users/Create`, {
                method: 'POST', // Use POST method to send data
                headers: {
                    'Content-Type': 'application/json' // Specify the content type as JSON
                },
                body: JSON.stringify(data) // Convert the data object to a JSON string
            })
                .then(response => {
                    // Handle the response from the server
                    if (response.ok) {
                        // Request was successful
                        console.log('Data sent successfully!');
                        // You can also handle the response as needed
                        return response.json();
                    } else {
                        // Request failed
                        console.error('Failed to send data');
                    }
                })
                .catch(error => {
                    // Handle any errors that occurred during the request
                    console.error('Error:', error);
                });

        }


    </script>
}