@model List<Organizer.Entities.User>
@{
    ViewData["Title"] = "Settings";

}
@foreach (var user in Model)
{
<body>

<div class="mx-auto max-w-7xl  lg:flex lg:gap-x-16 lg:px-8">
    <h1 class="sr-only">General Settings</h1>


    <main class="px-4 py-16 sm:px-6 lg:flex-auto lg:px-0 lg:py-20">
        <div class="mx-auto max-w-2xl space-y-16 sm:space-y-20 lg:mx-0 lg:max-w-none">
            <div>
                <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
                <p class="mt-1 text-sm leading-6 text-gray-500">This information will be displayed publicly so be careful what you share.</p>
                <form>
                    <dl class="mt-6 space-y-6 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">
                        <div class="pt-6 sm:flex">
                            <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Full name</dt>
                            <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                                <div class="text-gray-900">@user.FullName</div>
                                <button type="button" class="font-semibold text-indigo-600 hover:text-indigo-500">Update</button>
                            </dd>
                        </div>
                        <div class="pt-6 sm:flex">
                            <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Email address</dt>
                            <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                                        <div class="text-gray-900">@user.Email</div>
                                <button type="button" class="font-semibold text-indigo-600 hover:text-indigo-500">Update</button>
                            </dd>
                        </div>
                        
                    </dl>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
}